body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #192ae9;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: #1410f9;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
